*{
    margin: 0px;
}
/* work font */
.work-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared sytly */

.display-flex{
    display: flex;
}

/* header */
header{
    background-color: rgba(255, 144, 14, 0.1)
}
/* navbar */
.navbar{
    max-width: 1450px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
    
}
.navbar ul{
    list-style: none;
    gap: 40px;
}
.navbar ul li:hover{
    border-bottom: 2px solid #FF900E;
    background-color: #e07d0c0e;
}

.navbar ul li a{
    text-decoration: none;
    color: #424242;

}
.navbar h1{
    font-size: 2.815rem;
    font-weight: 700;
}

/* hero-section */

#hero-section{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
   align-items: center;
   
  
}
#hero-section h1{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-top: 102px;
}
#hero-section p{
    margin-top: 25px;
    
    color: #727272;
}
#hero-section button{
    margin-top: 32px;
    background-color: #FF900E;
    border: none;
    color: white;
    padding: 21px 24px;
    
    border-radius: 8px;
    cursor: pointer;
}
#hero-section button:hover{
    background-color: #e07c0c;
}

.hero-text img{
    margin: 50px auto 0px;
    display: block;
    padding-bottom: 45px;
}
/* feature section */
#feature{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 73px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 85px;
    
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* width: 537px; */
}
.text-feature h2{
    font-size: 2.8125rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 24px;
}
.text-feature p{
    color: #727272;
}

.text-feature h2 .bold{
    color: #131313;
    font-weight: 700;
}
.text-feature h2 .orange{
    color: #FF900E;
    font-weight: 700;
}
.text-feature button{
    margin-top: 32px;
    background-color: #FF900E;
    border: none;
    color: white;
    padding: 21px 24px;
    
    border-radius: 8px;
    cursor: pointer;
}
.text-feature button:hover{
    background-color: #e07c0c;
}
#experience{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.right-text{
    width: 586px;
    padding-top: 39px;
}

.experience-text{
    gap: 146px
}

.heading h2{
    font-size: 2.8125rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 16px;
    margin-bottom: 24px;
}
.heading p{
    color: #727272;
    margin-bottom: 30px;
}
.texts{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.texts h3{
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
}

.exp-img button{
    /* font-size: 4.0625rem; */
    /* font-weight: 700; */
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 46px 42px;
    border-radius: 8px;
    border: none;
    margin-top: -77px;
    margin-left: -92px
}
#bold{
    font-size: 4.0625rem;
    font-weight: 700;
}
#lite{
    font-size: 1.5625rem;
}
#facts{
    max-width: 1440px;
    margin: 0 auto;

}
#facts .some-facts h2{
   font-size: 2.8125rem;
   font-weight: 700;
   margin-top: 130px;
   margin-bottom: 24px;
}

#cart-container{
    max-width: 1440px;
    margin: 0 auto;
}
.carts{
    gap: 124px;
    margin-top: 85px;
    justify-content: center;
}
.cart{
    width: 142px;
    height: 142px;
    border: 1px #FF900E solid;
    border-radius: 8px;
    padding: 46px 37px 50px 36px; 
    text-align: center;
}
.cart img{
    margin-bottom: 10px;
}
.cart h2{
    font-size: 2.8125rem;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
}
#sponsor-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 130px;
    text-align: center;
}
#sponsor-container h2{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: #131313;
}
#sponsor-container p{
   color: #727272;
   margin-bottom: 50px;
}

#sponsor-container .sopnsors{
   /* align-items: center; */
   gap: 155px;
}
#sponsor-container .sopnsors img{
    filter: grayscale(100%);
}
footer{
    max-width: 1440px;
    margin: 130px auto 210px;
    /* margin-top: 130px; */
    background-color: #FFF4E7;
    text-align: center;
}
footer p{
    padding: 40px 410px;

}