*{
    margin: 0px;
}
/* work font */
.work-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared sytly */

.display-flex{
    display: flex;
}

/* header */
header{
    background-color: rgba(255, 144, 14, 0.1)
}
/* navbar */
.navbar{
    max-width: 1450px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
    
}
.navbar ul{
    list-style: none;
    gap: 40px;
}
.navbar ul li:hover{
    border-bottom: 2px solid #FF900E;
    background-color: #e07d0c0e;
}

.navbar ul li a{
    text-decoration: none;
    color: #424242;

}
.navbar h1{
    font-size: 2.815rem;
    font-weight: 700;
}

/* hero-section */

#hero-section{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
  
}
#hero-section h1{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin-top: 102px;
}
#hero-section p{
    margin-top: 25px;
    font-size: 16px;
    color: #727272;
}
#hero-section button{
    margin-top: 32px;
    background-color: #FF900E;
    border: none;
    color: white;
    padding: 21px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
#hero-section button:hover{
    background-color: #e07c0c;
}

#hero-image{
    width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}
